.main-container {
  height: 100vh;
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  background-size: cover;
}

.home-container {
  padding: 30px;
}

.heading {
  color: #fff;
  font-family: 'Bree Serif';
  font-size: 50px;
  font-weight: bold;
  width: 30%;
}

.description {
  color: #f1f5f9;
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  width: 50%;
}

.find-jobs-button {
  background-color: #272871;
  color: #fff;
  font-family: 'Bree Serif';
  font-weight: 500;
  font-size: 20px;
  padding: 5px 15px 7px 15px;
  border-radius: 6px;
  outline: none;
  cursor: pointer;
  margin-top: 30px;
  border: none;
}

@media (max-width: 768px) {
  .heading {
    width: 90%;
    font-size: 30px;
  }
  .description {
    font-size: 14px;
    width: 70%;
  }
  .find-jobs-button {
    margin-top: 20px;
  }

  .main-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/home-sm-bg.png');
  }
}
